[submodule "bat/themes/black_sun"]
	path = shared/bat/themes/black_sun
	url = https://github.com/andrewmustea/black_sun.tm
[submodule "git/themes/gitk"]
	path = shared/git/themes/gitk
	url = https://github.com/dracula/gitk.git
